*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
    background: rgba(192, 198, 196, 0.73);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background: #1e3a8a;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
}
footer{
    background: #1e3a8a;
    color: white;
    padding: 15px;
    text-align: center;
}
header .logo {
    font-size: 28px;
    font-weight: bold;
}

header .slogan {
    margin-top: 5px;
    font-style: italic;
}

header .banner {
    margin-top: 15px;
    padding: 10px;
    background: #2563eb;
    border-radius: 8px;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
input, textarea {
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.error {
    color: red;
    font-size: 13px;
    margin-top: 4px;
}
.form-group{
    display: flex;
    justify-content: center;
    padding: 2px;
    margin-top: 5px;
}

p{
    padding: 5px;
}
.result{

}
h2{
    text-align: center;
    background: red;
    color : white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
button:hover {
    background: #858c98;
}
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
}